* {
    box-sizing: border-box;
}

.main-container {
    height: 100%;
    background-color: #414548;
    color: #fff;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}